.inputset {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;

	label {
		color: $color-input;
		font-weight: 500;
		font-size: 12px;
		line-height: 24px;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	&__row {
		display: flex;
		align-items: center;
	}

	input {
		background-color: $color-accent;
		border-radius: 3px;
		border: 1px solid $color-accent;
		transition: $transition-base;
		padding: 8px 10px;
		font-size: 14px;
		line-height: 24px;
		color: $color-input;
		width: 100%;
		max-width: 100px;
		height: 40px;
	
		&:focus {
			outline: none;
			border-color: $color-primary;
			transition: none;
		}
	
		&::placeholder {
			color: $color-assist;
		}
	}
}