//fonts
$font-primary: 'Roboto', sans-serif;

//effects
$transition-base: all 0.4s ease;
$duration-base: 0.4;
$shadow: 0px 0px 32px rgba(0, 0, 0, 0.19);

//colors
$color-black: #000000;
$color-white: #FFFFFF;
$color-primary: #3366FF;
$color-accent: #EDEDF1;
$color-active: #CFCFCF;
$color-appearance: #D5D5D5;
$color-shady: #8C8C8C;
$color-input: #555770;
$color-assist:  #8E90A6;
$color-error: #d22121;

//breakpoints
$desktop: 1025;
$desktop-xl: 1640;